
body {
  font-size: 2rem;  
  background-color: pink;
  font-family: 'Manrope', sans-serif;
  background-color: var(--secondary);
}


:root{
  --color1: rgb(221, 120, 137);
  --color2: rgb(61, 27, 61);
}

.dark{
--primary: var(--color1);
--secondary:var(--color2);
}

.light{
  --primary: var(--color2);
  --secondary:var(--color1);
}

#titlecard {
  text-align: center;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-evenly;

}

.title{
  color: rgb(221, 120, 137);
  width: 700px; 
  padding: 5px;
  border-radius: 15px; 
  border: solid white 10px; 
  background-color: pink;
}

#buttons{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-evenly;
  padding: 10px; 
}

#menuall, #patty, #cheese, #toppings{
  border:solid white 10px; 
  color: rgb(221, 120, 137); 
  display: inline-block; 
  cursor: pointer;
  font-size:1.4rem; 
  border-radius: 15px; 
  width: 150px; 
  height: 50px; 
  background-color: pink;
}

#darkmode{
  border:solid white 10px; 
  color: rgb(26, 5, 26); 
  display: inline-block; 
  cursor: pointer;
  font-size:1.4rem; 
  border-radius: 15px; 
  width: 150px; 
  height: 50px; 
  background-color: rgb(117, 52, 117);
}


#box{
  margin: 30px;
    border-radius: 5px;
    padding-top: 20px; 
    padding-bottom: 20px;
    height: 1050px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.inner{
  font-size:1.5rem;
  align-items: center;
  text-align: center;
  padding: 16px; 
  background: pink;
  width: 300px; 
  border:solid white 10px; 
  height: 300px; 
  margin-bottom: 20px;
  color:white;
  font-weight: 400;
  /*background-color: var(--secondary);*/
  border-radius: 25px;
}

.abby{
  height: 160px; 
  border: solid rgb(221, 120, 137) 5px; 
}

.cals{
  font-size: 1.2rem; 
}

