@import url(variable.css);

body {
  font-size: 2rem;  
}

.animation {
  background-color: pink; 
  height: 90vh 
}

.header-animation{
  font-size: 60px;
  text-align: center; 
  color: black;
}

#app {
  height: 1000px; 
}